#root {
  text-align: center;
}

.header {
  display: flex;
  background-color: #00BB00;
}

.top-link {
  color: #ffffff;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-title {
  color: #ffffff;
  width: 70vw;
  margin: 0;
  padding: 40px 0;
}

.thread-container {
  background-color: #CCCCCC;
  padding: 50px;
  height: 100vh;
}

h2 {
  margin: 0;
}

.thread-lists {
  display: flex;
  flex-wrap: wrap;
}

.thread-title, .comments {
  background-color: #ffffff;
  width: 400px;
  height: 50px;
  border-radius: 0.2rem;
  border: 1px solid #000000;
  text-align: center;
  padding-top: 20px;
  margin: 10px;
}

.thread-form {
  width: 300px;
  height: 50px;
  border-radius: 0.2rem;
  border: none;
  margin: 30px;
}

.link-for-top {
  margin-right: 100px;
}

.create-thread-button {
  color: #ffffff;
  background-color: #00BB00;
  border: 1px solid #00BB00;
  border-radius: 0.2rem;
  padding: 5px 25px;
}

.posts-container {
  background-color: #CCCCCC;
  padding: 50px;
  height: 100vh;
}

.post-box {
  display: flex;
  justify-content: space-between;
}

.thread-title-for-posts-page {
  width: 400px;
}

.form-area {
  margin: 30px;
}

.post-form {
  width: 250px;
  height: 100px;
  font-size: 20px;
  border-radius: 0.2rem;
  border: none;
}

.post-button {
  background-color: #00BB00;
  border: 1px solid #00BB00;
  border-radius: 0.2rem;
  width: 250px;
  height: 50px;
  margin: 20px;
}
